<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles/characterselect.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <title>Character Select</title>
</head>
<body>
<nav class = "navbar bg-light navbar-light">
        <a class="nav-item nav-link" href="select">Fantasy Realms</a>
        <a class="nav-item nav-link" href="/328/fantasyrealms/" id="logout">Logout</a>
</nav>
<div class="container" id="maindiv">
    <div class="row">
        <div class="col-sm-6" id="col1">
            <h2>Welcome Back {{@username}}</h2>
        </div>
        <div class="col-sm-6" id="col2">
            <div class="container" id="character-select">
            <h3>Here are your characters</h3>


                    <repeat group="{{ @characters }}" value="{{ @character }}">
                        <ol>
                            <li><p>{{ @character['name'] }}, {{ @character['race'] }}, {{@character['class']}}</p>
                                <a href="{{@BASE}}/summary/{{@character['characterId']}}"><button name="view">View Character</button></a>
                                <button name = "edit">Edit Character</button>
                                <a href="{{@BASE}}/story-part1/{{@character['characterId']}}"><button name = "resume">Resume</button></a>
                                <button name = "delete">Delete</button>
                            </li>
                    </ol>
                    </repeat>
            <br>
            <br>
                <form method="post" action="#">
                <div class="form-group">
                    <input type="checkbox" name="premium" id="premium"> Sign me up for a Premium Character!
                </div>
                <input type="submit" name="submit" value="Create a character!">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>