#character-select{
    border-radius:10px;
    border:1px solid lightgray;
    padding-bottom:40px;
    background-color:gray;
}
#col2{
    float:right;
}
#head{
    border-bottom:2px solid lightgray;
    margin-top:20px;
}
nav{
    margin-bottom:30px;
}
#logout{
    text-align:right;
}
nav a{

    color:red;
}
body {
    background-image: url("../images/selectScreen.jpg");
    background-size:100%;
}