/**
@author Michael Horn and Anthony Thompson
@version 1.0
Style sheet for the character select screen
 */
#character-select,#introduction{
    border-radius:10px;
    border:1px solid gray;
    padding-bottom:40px;
    background-color: rgba(211, 211, 211, 0.6);
}
#col2{
    float:right;
}
#head{
    border-bottom:2px solid lightgray;
    margin-top:20px;
}
nav{
    margin-bottom:30px;
}
#logout{
    text-align:right;
}
nav a{

    color:red;
}
body {
    background-image: url("../images/selectScreen.jpg");
    background-size:100%;
    background-repeat: no-repeat;
}
.charactercontainer
{
    padding-bottom:30px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom:10px;
}