/**
@author Michael Horn and Anthony Thompson
@version 1.0
Style sheet for Story Page 2
 */
#head{
    border-bottom:2px solid lightgray;
    margin-top:20px;
}
nav{
    margin-bottom:30px;
}
#logout{
    text-align:right;
}
nav a{

    color:red;
}
#main{
    padding-top: 30px;
    border-radius:10px;
    borer:2px solid black;
    background-color:lightgray;
    padding-bottom:20px;
}
img
{
    background-size: 100%;
    height:100%;
    width:100%;
}